.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    color: var(--highlight);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
    border: 1px solid var(--highlight);
    padding: 8px 16px;
    border-radius: 5px;
}

.button-link:hover {
    color: var(--text-accent);
    background-color: rgba(83, 155, 245, 0.1);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Responsive (Left -> Center) */
@media (max-width: 900px) {
    .button-link {
        margin-left: auto;
        margin-right: auto;
    }
}
