#nav-indicator {
    left: 24px;
    width: 73.35px;
    position: absolute;
    height: 35px;
    background: var(--nav-indicator);
    border-radius: 50px;
    transition: all 0.3s ease;
    max-width: 100px;
}

/* Mobile (Hide) */
@media (max-width: 768px) {
    #nav-indicator {
        display: none;
    }
}